*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  max-height: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
  background-image: url(./images/image1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-wrap {
  padding-bottom: 2.5rem;
}
/* nav bar style */
header {
  min-height: 100%;
  margin-bottom: 2%;
}
/* navbar bootwatch color */
.bg-primary {
  background-color: rgba(0,0,0,0.60)!important;
  border-color: #000000;
}
.navbar-brand {
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link {
  font-size: 15px;
  padding-left: 100;
}
/* About us cards */
.card {
  background: rgba(0,0,0,0.60);
  color: white;
  font-size: 40px;
  
}

/* footer style */ 
footer {
  width: 100%;
  float: none;
  align-content: center;
  text-align: center;
  margin : 0 auto;
  overflow : visible;
  border: transparent;
  align-items: center;
  justify-content: center;
  color:rgb(255, 255, 255);
  background-color: #000;
  padding-top: 20px;
}

footer h2 {
  font-size: 1rem;
}

/*this will remove the bullet when using a ul*/
footer ul {
  list-style: none;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}
/* logo */
.img {
  width:100%;
  height: 170px;
  display: inline-flex;
  float: none;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  overflow : visible;
  border: transparent;
  background: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.start {
  font-size: 2rem;
  color: rgba(255,255,255,8);
  text-decoration: none;
  background:  rgba(0,0,0,0.40);
  text-align: center;
  box-shadow: .5rem 2px .9rem rgb(92, 92, 92);
  margin-top: -50px;
 
}

button {
  background-color: rgba(33, 49, 138, 0.7);
  width: 30%;
  border-radius: 5px;
  padding: 2px 10px;
  border: 0;
  transition: background-color 0.1s;
  
}
a {
  color: white;
}


/* FAQs */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-story-card-title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  position: right;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}


.custom-container-fluid {
  margin-bottom: 20px;
}

.about-image {
  float: left;
  width: 180px;
  margin: 0 20px 10px 0;
  padding-top: 6px;
}

.icon {
  width: 20px;
}

.accordion-item {
  background:  rgba(0,0,0,0.40);
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .9rem rgb(92, 92, 92);
}
.accordion-link {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: transparent;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-link i {
  color: #ffffff;
  padding: .5rem;
}
.accordion-link .ion-md-remove {
  display: none;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background: transparent;
  transition: max-height 650ms;
}
.answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #fdfdfd;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.answer p {
  background: transparent;
  font-size: 1.2rem;
  padding: 2rem;
  color: white;
}
.accordion-item:target .answer {
  max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-add {
  display: none;
}
.accordion-item:target .accordion-link .ion-md-remove {
  display: block;
}
